<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230963919991-dl8lj1hgen9kre6077umhc8s13cgpahg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230963919991-dl8lj1hgen9kre6077umhc8s13cgpahg</string>
	<key>API_KEY</key>
	<string>AIzaSyBaCMax3-e3CTaiKkosbQlA1rYXDzN-YfU</string>
	<key>GCM_SENDER_ID</key>
	<string>230963919991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quansaHomework</string>
	<key>PROJECT_ID</key>
	<string>quansa-homework</string>
	<key>STORAGE_BUCKET</key>
	<string>quansa-homework.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230963919991:ios:13f236ce134bd973f3da72</string>
</dict>
</plist>